# Common ignore entries from other samples
**/.settings/
**/.factorypath
**/.apt_generated/
**/target/
.*.swp
**/.project
**/.classpath
.DS_Store
/build/
/.gradle/ 
tweetArchive.txt
**/.vscode
**/reacter/node_modules/* 
**/reacter/build/* 
# twitter4j.properties